.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
    opacity: 0.25;
    transition: opacity 500ms ease-in-out;
}

.footer:hover {
    opacity: 1;
}

.footer p {
    font-size: 14px;
}